.custom-card-opacity {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.custom-card-opacity h2,
.custom-card-opacity label,
.custom-card-opacity .text-muted,
.custom-card-opacity p {
  color: #212529 !important;
}
.button-down {
  margin-top: 150px;
}

.cardBodyStyle {
  height: "60px";
  display: "flex";
  align-items: "center";
  justify-content: "center";
}
